# MongoDB Database Connection URL
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/anveshan?retryWrites=true&w=majority

# Google Analytics (Optional)
GOOGLE_ANALYTICS_MEASUREMENT_ID=
